
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">

				<div align="center">
					<img src="img/logo.jpg" class="img-responsive">
				</div>

				<div class="panel panel-info" style="margin-top:5%">
					<div class="panel-heading" style="text-align:center">
						Forgot Password?
					</div>
					<div class="panel-body">
						Please enter your email address and we will send you an email about how to reset your password.
						<form role="form" method="post" name="form" novalidate ng-keypress="($event.charCode==13)?vm.forgetPassword(email):return">
							<div class="form-group" ng-class="{'has-error': form.email.$invalid && !form.email.$pristine}">

								<input type="email" placeholder="Enter the email" name="email" class="form-control" ng-model="email" required ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/">

								 <div class="help-block text-danger" ng-if="form.email.$invalid && !form.email.$pristine" role="alert" ng-messages="form.email.$error">
    							<div ng-message="pattern">Email is required.</div>
   								</div>

							</div>

							<div class="form-actions" >
								<button type="submit" class="btn btn-success btn-block btn-lg" ng-disabled="form.$invalid" ng-click="vm.forgetPassword(email)">Submit</button>
							</div>
						</form>	

						<div style="text-align:center"> <a ui-sref="login"> Back to Login </a> </div>


					</div>
				</div>
			</div>

		</div>
	</div>
