	
	<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12 img-responsive" id="dashboard-container">

			<nav class="navbar navbar-fixed-top navbar-absolute" >
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown dashboard-navbar">
							<a class="dropdown-toggle" data-toggle="dropdown" >
								<!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
								<div class="profile-img dashboard-link">{{vm.userName}}</div><span class="caret" style="color:white"></span>
							</a>
							<ul class="dropdown-menu">

								<li>
									<a ng-click="vm.goToProfilePage()" class="dashboard-link">About Me</a>
								</li>
								<li>
									<a ui-sref="settings" class="dashboard-link">Settings</a>
								</li>
								<li>
									<a ng-click="vm.logout()" class="dashboard-link">Log out</a>
								</li>
								<li ng-if="vm.userDetails.User_Type_Id==2">
									<a ng-click="vm.business()" class="dashboard-link">Business Details</a>
								</li>
							</ul>
						</li>
					</ul>

				</div>
			</nav>

			<div class="container-fluid" align="center" style="padding-top:50px">
				<img src="../../../img/logo.jpg" class="img-responsive">
			</div>

			<br>

			<div class="row">	

				<div class="col-md-offset-3 col-md-11 col-sm-12 col-xs-12">

					<form class="form-inline" ng-keypress="($event.charCode==13)?vm.searchByKeyword(keyword,state,city):return" >

					<div class="form-group">

						<div class="input-group">
							<span class="input-group-addon " id="basic-addon1">
								<!-- <a ng-click="vm.searchByKeyword(keyword,state,city)">
									<span class="glyphicon glyphicon-search"></span>
								</a> -->
								<span class="glyphicon glyphicon-search"></span>
							</span>
							<input type="text" class="form-control input-lg" placeholder="Find" aria-describedby="basic-addon1" ng-model="keyword" >

						</div>


						<div class="input-group">
							<span class="input-group-addon " id="basic-addon1">
									<i class="fa fa-road" aria-hidden="true"></i>
							</span>
							<input type="text" class="form-control input-lg" placeholder="City" aria-describedby="basic-addon1" ng-model="city" >

						</div>

						 <div class="input-group">	     
           					<select class="form-control input-lg" name="State" id="State" ng-model="state" ng-options="statesDataValue.DROP_OPTION as statesDataValue.DROP_OPTION  for statesDataValue in vm.statesData">
                   				<option value="" disabled selected>State</option>
                			</select>
         				</div>

         				 <div class="input-group">	     
           					 <button type="submit" class="btn btn-lg btn-info btn-block" ng-disabled="((!keyword && !city && !state) || (!city || !state) )" ng-click="vm.searchByKeyword(keyword,state,city)"><i class="fa fa-search" aria-hidden="true"></i></button>
         				</div>

         							 
            			


						


					</div>	

	
				</form>

				</div>

				


			</div>
		</div>

		<div class="row ng-cloak">
			<br>
			<h3 class="col-md-offset-5 col-xs-offset-5 col-sm-offset-5" ng-if="vm.top3Reviews.length>0"> Top Reviews </h3>
			<br>

			<div ng-repeat="top3Reviews in vm.top3Reviews">

			  <div class="col-md-offset-1 col-md-3 col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11">
				<div class="thumbnail">
					<img ng-src="{{top3Reviews.ImageUrl || '../../../img/dashboard_1.jpeg' }}" width="40" height="40" class="pull-left" align="middle" style="width:60px; height:60px">
					<strong><a ui-sref="profile({ id: top3Reviews.User_Id})">{{top3Reviews.FullName}}</a> </strong><br>
					<span class="glyphicon glyphicon-star" style="vertical-align:middle"></span><strong>{{top3Reviews.CountReview}} Reviews </strong>
					<div class="caption">
						<br>Wrote a review for <a ui-sref="businessPage({id:top3Reviews.Business_Id})">{{top3Reviews.Business_Name}}</a>
						<h5 style="background-color:lightblue;"> Review </h5>
						 <uib-rating ng-model="top3Reviews.Rating" max="5" data-readonly="true"></uib-rating>
						<span class="glyphicon glyphicon-calendar" style="padding: 0 0 0 20px;"></span>
						<strong style="vertical-align:middle;">{{top3Reviews.Creation_Time | date:"MM/dd/yyyy"}}</strong>
						<p class="line-clamp">
							{{top3Reviews.Text}}
						</p>
					</div>
				  </div>
			  </div>
		    </div>
		</div>



		<div class="row ng-cloak">
			<br>
			<h3 class="col-md-offset-5 col-xs-offset-5 col-sm-offset-5" ng-if="vm.top3Business.length>0"> Top Businesses </h3>
			<br>

		<div ng-repeat=" Business in vm.top3Business">
			<div class="col-md-offset-1 col-md-3 col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11">
				<div class="thumbnail">
					<div class="col-sm-12">
  						<img ng-src="{{Business.Image_Url || '../../../img/dashboard_1.jpeg' }}"  align="middle"  width="100%" height="200px">
					</div>
					
					<br>
					<strong> <a ui-sref="businessPage({id:Business.Business_ID})"><h4 class="text-center">{{Business.Business_Name}}</h4></a> </strong>
					<br>
					<div class="caption">
						<span class="glyphicon glyphicon-comment"></span> {{Business.CountReviews}} Reviews<br>
						Price Range:
						<piggybankingrating ratingvalue="Business.Rating" max="5"></piggybankingrating>
						<div class="line-clamp">
							<span ng-if="Business.Tags[0].tag_name"> <b>{{Business.Tags[0].tag_name}}</b></span>
							<span ng-if="Business.Tags[1].tag_name"> <b>,{{Business.Tags[1].tag_name}}</b></span>
							<span ng-if="Business.Tags[2].tag_name"> <b>,{{Business.Tags[2].tag_name}}</b></span>
						</div>
						<span class="glyphicon glyphicon-fire" ng-if="Business.Creation_Time">Opened on {{Business.Creation_Time}}</span> 
					</div>
				</div>
			</div>
		</div>
		</div>

		<div class="row ">
			<br>
			<h3 class="col-md-offset-5 col-xs-offset-5 col-sm-offset-5"> Categories </h3>
			<br>
			<div class="col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11">
				<div class="thumbnail">
					<a ng-click="vm.searchResultsAPI(vm.Tags.Restaurants,vm,null)">
						<img src="../../../img/restaurants_image.png" style="margin: 0px 20px" align="middle" class="img-responsive pull-left" height="60px" width="60px">
						<h3>Restaurants</h3>
					</a>
					
				</div>
			</div>

			<div class="col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11">
				<div class="thumbnail">
					<a ng-click="vm.searchResultsAPI(vm.Tags.NightLife,vm,null)">
						<img src="../../../img/nightlife.png" style="margin: 0px 20px" align="middle" class="img-responsive pull-left" height="60px" width="60px">
						<h3>NightLife</h3>
					</a>
				</div>
			</div>

			<div class="col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11">
				<div class="thumbnail">
					<a  ng-click="vm.searchResultsAPI(vm.Tags.Shopping,vm,null)">
						<img src="../../../img/shopping.png" style="margin: 0px 20px" align="middle" class="img-responsive pull-left" height="60px" width="60px">
						<h3>Shopping</h3>
					</a>
					
				</div>
			</div>

			<div class="col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11">
				<div class="thumbnail">
					<a ng-click="vm.searchResultsAPI(null,vm,null)">

						<img src="../../../img/more_categories.png" style="margin: 0px 20px" align="middle" class="img-responsive pull-left" height="60px" width="60px">
						<h3>More</h3>

					</a>
					
				</div>
			</div>
		</div>
